/* index.css */

html, body {
  height: 100%;
  margin: 0;
  background-color: #6a0000; /* Mavi arka plan rengi */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.task-card:hover {
  background-color: #90a6b6;
  transition: 0.2s;
  cursor: pointer;
}

.table-column {
  transition: transform 0.2s ease-in-out;
}
.table-column:hover {
  transform: translateY(-3px);
}
